<form class="mt-5 container" (ngSubmit)="guardar(forma)" #forma="ngForm">
  <div class="form-group ">
    <label for="exampleInputEmail1">Nombre</label>
    <input name="nombre" [(ngModel)]="creoHeroe.nombre"
    type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre..">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Bio</label>
    <input name="bio" [(ngModel)]="creoHeroe.bio"
    type="" class="form-control" id="exampleInputPassword1" placeholder="Biografia..">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Aparicion</label>
    <input name="aparicion" [(ngModel)]="creoHeroe.aparicion"
    type="" class="form-control" id="exampleInputPassword1" placeholder="Aparicion..">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Casa</label>
    <input name="casa" [(ngModel)]="creoHeroe.casa"
    type="" class="form-control" id="exampleInputPassword1" placeholder="Casa..">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Imagen</label>
    <input name="img" [(ngModel)]="creoHeroe.img"
    type="" class="form-control" id="exampleInputPassword1" placeholder="Imagen..">
  </div>
  <div class="text-right">
  <button type="submit" class="btn btn-dark">Enviar</button>
  </div>
</form>