<div class="card-columns">
  <div class="card" style="width: 18rem;" *ngFor="let hero of heroes">
      <img [src]="hero.img" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{hero.nombre}}</h5>
        <p class="card-text">{{hero.bio}}</p>
        <!-- <a [routerLink]="['/heroe',i]" class="btn btn-primary">Mas info</a>-->
        <button type="button" (click)="verHeroe(hero.id)" class="btn btn-primary">Ver mas</button>
      </div>
  </div>
</div>
