<div class="card-columns" *ngIf="heroesFound.length!=0">
    <div class="card" style="width: 18rem;" *ngFor="let hero of heroesFound">
        <img [src]="hero.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{hero.nombre}}</h5>
          <p class="card-text">{{hero.bio}}</p>
          <button type="button" [routerLink]="" class="btn btn-primary">Ver mas</button>
        </div>
    </div>
  </div>
  <div *ngIf="heroesFound.length==0" >
    <p class="text-center mt-5">No se han encontrado resultados.</p>
  </div>