<div *ngIf="hay==false">
  Loading...
</div>
<div class="text-center mt-3 mb-3" *ngIf="hay==true">
    <div class="card" style="width: 18rem;">
        <img [src]="heroe.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{heroe.nombre | uppercase}}</h5>
          <p class="card-text">{{heroe.bio}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <!-- <li class="list-group-item">{{heroe.aparicion | date:"MM/dd/yy"}}</li> -->
          <!-- <li class="list-group-item">
            <div *ngIf="heroe.casa=='Marvel'"><img width="50%" src="../../../assets/images/marvel.png"></div>
            <div *ngIf="heroe.casa=='DC'"><img width="50%" src="../../../assets/images/dc.png"></div>
          </li> -->
          <button [routerLink]="['/heroes']" type="button" class="btn btn-dark">Volver atras</button>
        </ul>
      </div>
</div>